<ul class="nav">
  <li class="logo-searchbar">
    <a class="logo noselect" href="#">gyde</a>
    <input type="text" name="search" placeholder="Search">
    <a href = "#" id="questions">Questions</a>
  </li>
  <li id="login"><a href="../loginpage/login.html">Sign up/Log in</a></li>
</ul>
<div class="nav-sub"></div>
