body{
  margin: 8px;
  padding: none;
  font-family:"Lato";
 
}

.nav{
  background-color:black;
  color:white;
  list-style: none;
  text-align: right;
  padding:1.5em 0 1.25em 0px;
  margin-top: -0.625em;

}

.nav > li{
   display: inline-block;
   padding-right:3.125em;
   color: white;
}

.nav>li>a{
  text-decoration: none;
  color:white;
}

.nav > li >a:hover{
  color:#c1c1c1;
}

input[type=text] {
    width: 8.125em;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.search-bar{
  float: left;
  padding-left: 1.875em;
  padding-top: 0.125em;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

.logo{
  color:white;
  float:left;
  padding-left: 1.25em;
  font-family:'Cedarville Cursive';
  font-size: 1.875em;
  font-weight:bold;
  margin-top:-.85em;
  font-weight: lighter;

}

.logo>a{
  text-decoration: none;
  color:white;
}

.button-row >li{
  display: inline-block;
  vertical-align: bottom;
  padding-top: 281px;
  margin-right: -1px;
}

.button-row>li>button{
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Lato";
  width: 200;
  
}

.banner-box{
  margin-right: 75px;
  margin-top: -20px;
  width:auto;
  height:330px;
  padding-left: 10px;
  border: 1.5px solid black;
  margin-left:75px;
  border-top: none;
  position: relative;
}

.picture-box{
  border: 1.5px solid black;
  height:200px;
  width:200px;
  position: relative;
  top: -280px;
  left:120px;
}

.box-two{
  width:350px;
  height:70px;
  border: 1.5px solid black;
  margin-left: 75px;
  margin-top: -190px;
}
.connect{
  text-align: center;
  font-size: 24px;
  font-family:"Lato";
}

.box-two > a{
  text-decoration: none;
  color:black;
}

.box-three{
  width:350px;
  height:250px;
  border: 1.5px solid black;
  margin-left: 75px;
  margin-top: 10px;
}

.intro{
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
  font-family: 'Lato', serif;
}

.gyde_box{
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
  font-family: 'Lato', serif;
}

.box-four{
  width:350px;
  height:250px;
  border: 1.5px solid black;
  margin-left: 75px;
  margin-top: 10px;
}

.gyde-search{
  float: left;
  padding-left: 50px;
  padding-top: 130px;
}

.gyde-search input{
  width: 290px;
  height: 30px;
}

.box-five{
  width: 85em;
  height: 50em;
  border: 1.5px solid black;
  margin-left: auto;
  margin-top: -37.4em;
  margin-right: 4em;
  position: relative;
}

.bottom-post-box{
  width: 765px;
  height: 70px;
  float: right;
  margin-top: -95px;
  margin-right: 75px;
  padding-left: 35px;
}

.privacy, .dropdown2{
  width: 10em;
  height: 50px;
  border: 1.5px solid black;
  float: right ;
  margin-top: -90em;
  margin-right: 51em;
  }

.post, .dropdown1{
  width: 10em;
  height: 50px;
  border: 1.5px solid black;
  float: right;
  margin-top: -90em;
  margin-right: 40em;
  }


/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    border-top: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
    width: 25.1em;
    height: 5em;
    transition: 0.3s;
    margin-right: -4em;
    margin-left: 3.6em;
    position: relative;
    left: 10em;
  }

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
    width: 51em;
    height: 20em
    margin-left 28.5em;
    margin-top: 11.1em;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    position: relative;
	top: -10em;
}

/* Dropdown CSS */

/* Position properties */

 {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #000000;
 }

 {
  display: block;
  position: relative;
  float: left;
  background: #000000;
}


/* Hide the sub menus. */

li ul { display: none; }

ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

ul li a:hover { background: #2c3e50; }

/* Displays the dropdown menu on hover */

li:hover > ul {
  display: block;
  position: absolute;
}

li:hover li { float: none; }

li:hover a { background: #000000; }

li:hover li a:hover { background: #000000; }

.main-navigation li ul li { border-top: 0; }

/* Displays second level dropdown menus to the right of the first level dropdown menu. */

ul ul ul, submenu2 {
  left: 100%;
  top: 0;
}

/* Clearfix */

ul:before,
ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

ul:after { clear: both; }






  
/*Editing guides*/

div {
 border: 5px solid blue;

    }

p {
    border: 5px solid red;
}


