#topNav{
    background: orange;
}

body{
    background: black;
}

#gyde{
    color: white;
    font-size: 28px;
}

#label1{
    color: white;
    font-size: 12px;
}

#label2{
    color: white;
    font-size: 12px;
}

#login1{
    display: inline-block;
    padding-bottom: 3px;
}

#login2{
    display: inline-block;
    padding-bottom: 3px;
}

button{
    padding-bottom: 3px;
}

.container{
    float: right;
    text-align: left;
    width: 50%;
}

p{
    color: white;
}

h1{
    color: white;
}

label{
    color: white;
}