$brandColor: #17223d;
$graySelect: #d3d3d3;
$lightGray: #f0f0f0;

@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin font($family, $size, $color) {
  font-family: $family;
  font-size: $size;
  color: $color;
}

@mixin border($border, $style, $color, $width: 0, $radius: 0) {
  #{$border}-style: $style;
  #{$border}-color: $color;
  #{$border}-width: $width;
  #{$border}-radius: $radius;
}

@mixin minmax($type, $min, $max: 100%) {
  min-#{$type}: $min;
  max-#{$type}: $max;
}

%arrow {
  @include dimensions(0, 0);
  @include border(border, solid, transparent transparent transparent $brandColor, 8px, 0);
  display: inline-block;
}

%button {
  border-style: none;
  cursor: pointer;
  outline: none;
}

@mixin userSelect($option) {
  -webkit-touch-callout: $option;
  user-select: $option;
  -moz-user-select: $option;
  -webkit-user-drag: $option;
  -webkit-user-select: $option;
  -ms-user-select: $option;
}

@mixin custom-link-layout($color: white) {
  outline: none;
  color: $color;
}

@mixin centerPos($isFlex: false, $justifyContent: false, $alignItems: false){
  @if $isFlex {
    margin: auto;
  } @else {
    @if $justifyContent { justify-content: center; }
    @if $alignItems { align-items: center; }
  }
}

.noselect {
  @include userSelect(none);
}
